#ext_menu-4 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #717a8f;
}
#ext_menu-4 .mbr-navbar__section {
  background: #717a8f;
}
#ext_menu-4 .mbr-navbar__hamburger {
  color: #7b86a0;
}
#ext_menu-4 .mbr-navbar__items a {
  font-size: 10px;
}
#header2-3 .btn {
  font-size: 19px;
}
#header2-3 H1 {
  color: #000000;
  font-size: 60px;
}
#header2-3 P {
  color: #000000;
  font-size: 30px;
}
#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #717a8f;
}
#ext_menu-5 .mbr-navbar__section {
  background: #717a8f;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #7b86a0;
}
#ext_menu-5 .mbr-navbar__items a {
  font-size: 10px;
}
#msg-box4-7 .mbr-header__text {
  color: #000000;
  font-size: 32px;
}
#msg-box4-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7 .mbr-article {
  color: #ffffff;
}
#msg-box4-7 .mbr-article P {
  color: #000000;
}
#footer1-c P {
  color: #ffffff;
  text-align: right;
}
#ext_menu-g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #717a8f;
}
#ext_menu-g .mbr-navbar__section {
  background: #717a8f;
}
#ext_menu-g .mbr-navbar__hamburger {
  color: #7b86a0;
}
#ext_menu-g .mbr-navbar__items a {
  font-size: 10px;
}
#footer1-h P {
  color: #ffffff;
  text-align: right;
}
#msg-box3-p .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 32px;
  color: #000000;
}
#msg-box3-p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-q .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-q.mbr-navbar--stuck .mbr-navbar__section {
  background: #717a8f;
}
#ext_menu-q .mbr-navbar__section {
  background: #717a8f;
}
#ext_menu-q .mbr-navbar__hamburger {
  color: #7b86a0;
}
#ext_menu-q .mbr-navbar__items a {
  font-size: 10px;
}
#msg-box3-13 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-13 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#footer1-r P {
  color: #ffffff;
  text-align: right;
}
#ext_menu-v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-v.mbr-navbar--stuck .mbr-navbar__section {
  background: #717a8f;
}
#ext_menu-v .mbr-navbar__section {
  background: #717a8f;
}
#ext_menu-v .mbr-navbar__hamburger {
  color: #7b86a0;
}
#ext_menu-v .mbr-navbar__items a {
  font-size: 10px;
}
#form1-12 .mbr-header__text {
  color: #000000;
}
#footer1-w P {
  color: #ffffff;
  text-align: right;
}
